$tablet: 769px !default;
#nav{
    position: fixed;
    left: 0;
    top: 0;
}
.side-nav{
    @media screen and ( max-width:$tablet - 1px ){
        width: 80px !important;
        span {
            display: none;
        }
        text-align: center;
    }
}
.a-icon{
    float: right;
}
.component-icon{
    float: right;
    @media screen and ( max-width:$tablet - 1px ){
        float: initial;
    }
}
#logout-btn{
    background-color: transparent;
    border-color: #209cee;
    color: #209cee;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    position: fixed;
    bottom: 10px;
    width: 23%;
    &:hover{
        color: white;
        background-color: #209cee;
        cursor: pointer;
    }
    @media screen and ( max-width:$tablet - 1px ){
        width: 60px !important;
        padding-left: 0px;
    }
}